.container{
    display:flex;
    justify-content: center;
    /* flex-direction: column; */
    /* border: black solid 1px; */
    
}
.grid{
    display:flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border:rgb(66, 64, 64) solid 1px;
}
/* .gridColumn{
    display: flex;
    border: lightgray solid .5px;
    flex:1; 
}
.gridRow{
    display: flex;
    border: lightcyan solid .5px;
    flex:1;
} */
